<h1>Excellent Employees</h1>



<table class="table table-bordered">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Employee ID</th>
            <th>Performance Score</th>
            <th>Lowest Project Rating</th>
            <th>Total Projects Completed</th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.EmployeeName</td>
                    <td>@employee.EmployeeId</td>
                    <td>@employee.PerformanceScore</td>
                    <td>@employee.LowestProjectRating</td>
                    <td>@employee.TotalProjectsCompleted</td>
                </tr>
            }
        }
    </tbody>
</table>